%ol#top_chefs
  :javascript
    var i,j = 0;
    for (i in auctions) {
      apiCall += "\&ItemID("+ j++ +")="+i;
    }
    (function() {
      var e = document.createElement("script");
      e.type = 'text/javascript'; e.async = true; e.src = apiCall;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(e, s);
    })();