layout: default.haml
active: about
---------------------------------------------META

%section.intro
  %h1 About The Mince Pie Project
  %img(src="/images/mincepie.jpg")
  %p
    Fancy getting your mince pies cooked by a Michelin starred chef this Christmas?  Well now you can do just that, and raise money for two great causes.
  %p
    The Mince Pie Project has lined up 35 of the UK’s best chefs to each cook an exclusive batch of 50 mince pies.  Each batch will be auctioned off, online, with every penny raised divided equally between Action Against Hunger and The Jamie Oliver Foundation.
  %p
    Many of the chefs have their own unique take on the humble mince pie.  From Nigel Haworth’s melt-in-your-mouth Swiss pastry, to Ashley Palmer-Watts deep-fried version.
  %p
    The auction opens at 9am on Friday 9th December, and closes at 6pm on Friday 16th December.  All the action can be followed by going to ‘The Auction’ tab, where you place your bid.
  %p
    Each batch of 50 mince pies will be cooked fresh and same-day couriered directly to the winning bidder by City Sprint (LINK TO www.citysprint.co.uk), on the 22nd of December.
  %p
    The project was conceived just 6 weeks ago by 23yr old Pete Butler.  Having recently left his job in the City, the idea randomly came to him during a particularly boring session in the gym.  He’s currently working on an exciting food project, launching early 2012.
  %p
    If you want to get in touch with Pete you can contact him on
    %a(href="mailto:pete@themincepieproject.com") pete@themincepieproject.com
    or follow Peter follow his personal twitter
    %a(href="http://twitter.com/peternbutler") @peternbutler
