layout: default.haml
active: auction
---------------------------------------------META

%section.auction
  %h1 The Auction
  %p The auction opens at 9am on the 9th December, and closes at 6pm on the 16th December. See below for the latest top-bid, and click on the links to make your own bid.

%section.leaderboard
  %h2 Highest Bids so far…
  = render_partial "auctions"
