layout: default.haml
active: auction
---------------------------------------------META

%section.auction
  %h1 The Auction
  %p
    The Mince Pie Project has got together 35 of the UK’s best chefs to each cook an exclusive batch of 50 mince pies.
    We’re auctioning off each batch, raising money for Action Against Hunger and The Jamie Oliver Foundation.
  
%section.leaderboard
  %h2 The Mince Pie Leaderboard
  = render_partial "auctions"