layout: default.haml
active: auction
---------------------------------------------META

%section.auction
  %h1 The Auction
  %p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
  
%section.leaderboard
  %h2 Highest Bids so far…
  = render_partial "auctions"