layout: default.haml
active: chefs
---------------------------------------------META

%section
  %h1 The Chefs
  %p
    We’ve lined up 35 of the UK’s best chefs to each cook 50 exclusive mince pies for The Mince Pie Project.
    See below for the names and descriptions chefs involved and click on the links to make a bid for their batch of 50 pies.

  %ul.chefs


    - in_groups_of(CHEFS, 4) do |args|
      %li
        %img(src="/images/chefs/large/#{args[0].strip.gsub(/\s+/,"_").downcase}.png")
        %h2
          %span.name= args[0]
          %em= args[1]
        %p= args[2]
        %p
          %a.button Bid

