layout: default.haml
active: contact
---------------------------------------------META

%section.contact
  %h1 Contact us
  %p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
  %p
    %strong Email:
    %a(href="mailto:") mail@domain.com
  %p
    %strong Phone:
    0044 555 12345
