layout: default.haml
---------------------------------------------META

.content
  %h2 Coming soon...
  %p.explanation An auction of mince pies baked by some of the UK’s best known chefs
  %p
    %small In support of
  %p
    %a(href="http://www.actionagainsthunger.org/")
      %img(src="images/aah.png")

