@import "compass"
//@import "blueprint"
@import url(http://reset5.googlecode.com/hg/reset.min.css)

//+blueprint

$brown: #735300

=pic-frame($padding)
  background: white
  padding: $padding
  +single-box-shadow(#999, 0px, 3px, 5px)

=intro-pic
  margin:
    top: 10px
    bottom: 20px
    left: 20px
  float: right
  +pic-frame(10px)

=adelle
  font-family: "Adelle Bold", Georgia, serif
  font-size-adjust: 0.523
  font-weight: bold
  font-style: normal

=small
  +adelle
  font-size: 0.8em

@font-face
  font-family: 'DINCondensed'
  src: url('/fonts/17618E_0.eot')
  src: url('/fonts/17618E_0.eot?#iefix') format('embedded-opentype'), url('/fonts/17618E_0.woff') format('woff'), url('/fonts/17618E_0.ttf') format('truetype')

body
  margin: 0
  background: #ffdc50 url("/images/background.png") top center no-repeat
  text-align: center
  color: $brown
  font-family: Georgia, Palatino, serif

section
  margin-top: 4em
  +pie-clearfix

h1
  font-size: 2em
  +adelle
  line-height: 1.25em
  margin-bottom: 0.75em

h2
  font-size: 1.75em
  +adelle
  margin-bottom: 0.5em

h3
  font-size: 1.2em
  margin-bottom: 0.5em
  .name
    +adelle
    padding-right: 5px
  em
    font-weight: normal

p
  line-height: 1.5em

.content p + p
  margin-top: 1em

a.button
  padding: 7px 20px
  background: $brown
  color: white
  font-weight: bold
  +border-radius(5px)
  +adelle

.container
  width: 940px
  margin: 0 auto
  text-align: left
  +pie-clearfix

.sidebar
  width: 220px
  margin:
    right: 20px
    bottom: 3em
  float: left
  text-align: center
  font-style: italic
  .logo
    margin-left: -100px
  h3, p
    font-weight: normal
    margin-bottom: 1em
    line-height: 1.5em
    &.explanation
      text-decoration: underline
  h3
    font-size: 1.25em
  .sharing
    margin-top: 3em

.main
  margin:
    bottom: 3em
    left: 80px
  width: 620px
  float: left

header nav ul  
  font-size: 1.67em
  text-transform: uppercase
  font-family: "DINCondensed"
  margin-top: 2.75em
  list-style-type: none
  +pie-clearfix
  li
    float: left
    margin-right: 25px

nav a, nav a:visited
  color: $brown
  text-decoration: none
  &:hover, &.active
    text-decoration: underline

.intro
  div
    width: 300px
    float: left
  img
    +intro-pic
    +rotate(3deg)

.leaderboard
  .auction + &
    margin-top: 2em
  ol li
    padding: 2.75em 0 1em 0
    border-bottom: 1px dotted $brown
    +clearfix
    .number, .name, img, .bids, .price
      float: left
      vertical-align: middle
    .number
      width: 26px
      font-family: "DINCondensed", Arial, "Helvetica Neue", "HelveticaNeue", Helvetica, sans
      font-size: 1.5em
      color: white
      background: url(/images/bg_number.png) top left no-repeat
      padding: 14px 17px
      margin-top: -15px
    img
      width: 70px
      margin:
        top: -30px
        right: 20px
      +pic-frame(5px)
    .name
      width: 180px
    .bids
      width: 50px
      padding-right: 40px
    .price
      width: 80px
      padding-right: 40px
      text-align: right
      font-weight: bold

.social
  ol
    +clearfix
    li
      list-style-type: none
      width: 270px
      padding: 10px 10px 22px 10px
      background: $brown url(/images/nose.png) bottom left no-repeat
      color: white
      float: left
      font-size: 0.8em
      font-family: Arial, "Helvetica Neue", "HelveticaNeue", Helvetica, sans
      line-height: 1.5em
      &:first-child
        margin-right: 40px
      a, a:visited
        color: white
  > p
    +small
    margin-top: 1.5em
    a
      text-decoration: underline

.partners
  div
    +pic-frame(10px)
    width: 290px
    padding: 40px 0
    text-align: center
    float: left
    &.wemakewebsites
      margin-right: 40px
  h1 + p, div + div
    margin-bottom: 2em
  div + p
    margin-top: 2em

.chefs
  list-style-type: none
  margin-top: 2em
  li
    +pie-clearfix
    margin-bottom: 2em
  img
    width: 120px
    +pic-frame(10px)
    float: left
    margin-right: 20px

.charity
  margin-top: 1.5em
  h3
    margin-bottom: 1em
  img
    +intro-pic
  a, a:visited
    +adelle
    color: $brown

footer
  text-align: left
  +small
  margin: 3em 0 1em 0
  clear: both
  a
    margin: 0 10px
