!!! 5
%head
  %meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')
  %meta(content='en-en' http-equiv='Content-Language')
  %meta(content='The Mince Pie Project' name='description')
  %title The Mince Pie Project
  %link(href='/css/styles.css' rel='stylesheet' type='text/css')
  %link(href="http://f.fontdeck.com/s/css/l4MsFun30OJhB9DTDGcb8JQSAOQ/localhost/13236.css" rel="stylesheet" type="text/css")
  %script(src='/js/ebay-auctions.js')

  /[if lt IE 9]
    %script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    %link(href='/css/ie.css' media='screen' rel='stylesheet' type='text/css')

%body    
  .container
    .sidebar
      %img(src="images/logo.png")
    .main
      %header
        %nav
          %ul
            %li About
            %li Chefs
            %li The Auction
            %li Blog
            %li Partners
            %li Charities
      .content
        = yield
  %footer
    %p
