!!! 5
%head
  %meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')
  %meta(content='en-en' http-equiv='Content-Language')
  %meta(content='The Mince Pie Project' name='description')
  %title The Mince Pie Project
  %link(href='/css/styles.css' rel='stylesheet' type='text/css')
  %script(src='/js/ebay-auctions.js')

  /[if lt IE 9]
    %script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    %link(href='/css/ie.css' media='screen' rel='stylesheet' type='text/css')

%body
  %header
    %nav
      %img(src="images/logo.png")
  .container
    = yield
  %footer
    %p
